.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    font-size: 20px;
    font-weight: 800;
    margin-left: 5px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    padding: 10px 6px;
    margin-left: 18px;
    transition: 0.3s ease-in-out;
}

.menu li a:hover {
    background-color: #5BC241;
    color: #fff;
}

.menu li a.btn {
    background-color: #5BC241;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
}

.menu li a.btn:hover {
    background-color: #41a328;
}